/* Container for entire cart */
.cart-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  margin-top: 13%;
  /* margin-bottom: 35%; */
}

/* Title */
.cart-title {
  color: #333333;
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 600;
  text-align: center;
}

/* Subtitle */
.cart-subtitle {
  color: #666666;
  font-size: 18px;
  margin-bottom: 25px;
  text-align: center;
}

/* Container items */
.items-container {
  width: 100%;
  margin-bottom: 20px;
  border-top: 1px solid #e0e0e0;
}

.empty-cart {
  text-align: center;
  color: #6c6c6c;
  font-size: 18px;
  padding: 200px 0;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.cart-action-button {
  background-color: #6caddf;
  color: #ffffff;
  padding: 15px 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin: 10px 0;
  max-width: 200px;
  transition: background-color 0.3s;
}

.cart-action-button:hover {
  background-color: #004080;
}

/* responsiveness */
@media (min-width: 768px) {
  .cart-item-details {
    padding: 20px 0;
  }

  .item-details {
    width: 60%;
  }

  .cart-action-button {
    width: 45%;
  }

  .button-container {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
  }
}

@media (max-width: 480px) {
  .cart-title {
    font-size: 20px;
  }

  .cart-subtitle {
    font-size: 16px;
  }

  .cart-item-name {
    font-size: 16px;
  }

  .item-price,
  .item-quantity {
    font-size: 14px;
  }

  .cart-action-button {
    font-size: 14px;
    padding: 10px 20px;
  }
}
