/* Container */
.container {
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  height: 80%;
  margin: 0;
  padding-top: 3.5rem;
  padding-bottom: 140px;
  background-color: rgb(350, 350, 350, 0.2);
}

/* Pagination buttons */
.pagination {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.pagination button {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin: 0.5rem;
  margin-bottom: 30px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  background-color: white;
  max-width: 10rem;
}

button:active {
  background-color: #72a3d2;
  transform: translateY(4px);
}

.pagination button:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

/* Filters */
.wrapper {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.filter-wrapper {
  width: 100%;
  padding-bottom: 0.5rem;
}

.filter-selector {
  background-color: white;
  max-width: 7rem;
  font-size: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  cursor: pointer;
  border-radius: 8px;
  margin-top: 3rem;
}

/* List of items */
.item-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
}

/* List container */
.list-of-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1vw;
  max-width: 100%;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

/* Individual items */
.item {
  cursor: pointer;
  flex: 1 1 20%;
  max-width: 200px;
  position: relative;
  box-sizing: border-box;
}

.item img {
  width: 9rem;
  height: 9rem;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.item-name {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 100%;
  height: 5.5rem;
  opacity: 0;
  background-color: rgb(0, 0, 0, 0.6);
  color: white;
  z-index: 2;
  overflow: hidden;
}

.item-price {
  margin-top: 18px;
  margin-bottom: 5px;
}

/* Items on hover */
.item:hover .item-name {
  display: grid;
  align-items: center;
  opacity: 0.9;
  z-index: 3;
  font-size: 17px;
  font-weight: 900;
  width: 13.4rem;
}

.item:hover img {
  position: relative;
  transform: scale(1.5) translateY(-10px);
  z-index: 2;
  opacity: 1;
}

.cart-item {
  z-index: 99;
}

/* Button */
.remove-from-cart {
  grid-area: remove;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  outline: none;
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 54px 55px,
    rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.22) 0px 4px 6px,
    rgba(0, 0, 0, 0.27) 0px 12px 13px, rgba(0, 0, 0, 0.19) 0px -3px 5px;
}

/* Button Span REMOVE*/
.remove-from-cart:focus::after {
  position: absolute;
  content: " Item removed from the cart";
  font-size: 16px;
  color: rgb(255, 44, 44);
  position: absolute;
  top: 10px;
  right: 25px;
  width: 100px;
  z-index: -1;
}

.add-to-cart {
  grid-area: add;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
  outline: none;
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 54px 55px,
    rgba(0, 0, 0, 0.22) 0px -12px 30px, rgba(0, 0, 0, 0.22) 0px 4px 6px,
    rgba(0, 0, 0, 0.27) 0px 12px 13px, rgba(0, 0, 0, 0.19) 0px -3px 5px;
}

/* Button Span ADD */
.add-to-cart:focus::before {
  position: absolute;
  left: 1px;
  content: " Item added to cart";
  font-size: 16px;
  color: rgb(0, 0, 255);
  position: absolute;
  top: 10px;
  left: 25px;
  width: 100px;
  z-index: -1;
}

.cart-button {
  padding-top: 0px;
  display: grid;
  grid-template-columns: 2fr 1fr 0.5fr 1fr 2fr;
  grid-template-areas: ". add . remove .";
}

.out-of-stock {
  position: relative;
  opacity: 0.8;
  cursor: no-drop;
  z-index: 9;
  transform: translateY(0px);
}

.out-of-stock::before {
  content: "";
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../image-icon/sold-out.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
  z-index: 99;
}

/* Media query for small screens */
@media (max-width: 431px) {
  .filter-selector {
    max-width: 6.2rem;
  }
}

@media (max-width: 431px) {
  .container {
    padding-top: 2.5rem;
  }
  .filter-selector {
    max-width: 6.2rem;
  }
}
